name: Release

on:
  workflow_dispatch:
    inputs:
      version:
        description: "version"
        type: string
      ref:
        description: "ref"
        type: string

jobs:
  calculate_version:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.calculate_version.outputs.version }}
      ref: ${{ steps.calculate_version.outputs.ref }}
    steps:
      - name: Calculate version
        id: calculate_version
        run: |-
          release_url="https://api.github.com/repos/SagerNet/sing-box/releases/latest"
          version=${{ inputs.version }}
          ref=${{ inputs.ref }}

          echo "input version='$version'"
          echo "input ref='$ref'"

          if [ -z "$ref" ]; then
            ref=$(curl -s "$release_url" | jq -r ".tag_name")
            if [ -z "$version" ]; then
              version="$ref"
            fi
          fi

          if [ -z "$version" ]; then
            version=$(curl -s "$release_url" | jq -r ".tag_name")
          fi

          echo "output version='$version'"
          echo "output ref='$ref'"

          echo "version=$version" >> "$GITHUB_OUTPUT"
          echo "ref=$ref" >> "$GITHUB_OUTPUT"

  release:
    runs-on: ubuntu-latest
    needs:
      - calculate_version
    steps:
      - name: Checkout sing-box
        uses: actions/checkout@v5
        with:
          repository: 'SagerNet/sing-box'
          ref: "${{ needs.calculate_version.outputs.ref }}"

      - name: Checkout builder
        uses: actions/checkout@v5
        with:
          path: builder_repo

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: ^1.25.3

      - name: Cache Go for Windows 7
        id: cache-go-for-windows7
        uses: actions/cache@v4
        with:
          path: ~/go/go_win7
          key: go_win7_1253

      - name: Setup Go for Windows 7
        if: steps.cache-go-for-windows7.outputs.cache-hit != 'true'
        run: .github/setup_go_for_windows7.sh

      - name: Cache ghr
        uses: actions/cache@v4
        id: cache-ghr
        with:
          path: ~/go/bin/ghr
          key: ghr

      - name: Setup ghr
        if: steps.cache-ghr.outputs.cache-hit != 'true'
        run: |-
          cd $HOME
          git clone --depth=1 https://github.com/nekohasekai/ghr ghr
          cd ghr
          go install -v .

      - name: Set tag
        run: |-
          echo "HOME=$HOME" >> "$GITHUB_ENV"
          git tag ${{ needs.calculate_version.outputs.version }} -f

      - name: Add custom command source code
        run: |-
          cp builder_repo/.goreleaser.yaml . \
            && cp -a builder_repo/patch/. . \
            && rm -rf builder_repo
          go mod tidy

      - name: Build
        uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          version: '~> v2'
          args: release --snapshot --clean
        env:
          GOPATH: ${{ env.HOME }}/go

      - name: Merge builds
        run: |-
          mkdir -p dist/release
          mv dist/*.{tar.gz,zip} dist/release

      - name: Remove old releases
        uses: actions/github-script@v8
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          script: |
            const { owner, repo } = context.repo;
            const response = await github.rest.repos.listReleases({ owner, repo });
            for (release of response.data) {
              await github.rest.repos.deleteRelease({ owner, repo, release_id: release.id });
            }

      - name: Release
        run: |-
          export PATH="$PATH:$HOME/go/bin"
          IFS='/' read -r user repo <<< "$GITHUB_REPOSITORY"
          VERSION=""
          if [ "${{ needs.calculate_version.outputs.version }}" == "${{ needs.calculate_version.outputs.ref }}" ]; then
            VERSION="${{ needs.calculate_version.outputs.version }}"
          else
            VERSION="${{ needs.calculate_version.outputs.version }}-${{ needs.calculate_version.outputs.ref }}"
          fi
          ghr -u $user -r $repo --replace "$VERSION" dist/release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
